* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--bg-primary: #0f0f0f;
	--bg-secondary: #1b0303;
	--bg-hover: #3a3a3a;
	--text-primary: #f1f1f1;
	--text-secondary: #aaaaaa;
	--accent: #1c68cc;
	--accent-hover: #071f3f67;
	--border: #e03d61;
	transition: .3s ease;
}



body {
	background: var(--bg-primary);
	color: var(--text-primary);
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

::-webkit-scrollbar-track {
	background: var(--bg-primary);
}

::-webkit-scrollbar-thumb {
	background: var(--bg-secondary);
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--bg-hover);
}

button {
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
	border: none;
	background: none;
	color: inherit;
}

input,
textarea {
	font-family: 'Roboto', sans-serif;
	color: var(--text-primary);
	background: var(--bg-secondary);
	border: 1px solid var(--border);
	outline: none;
}

input:focus,
textarea:focus {
	border-color: var(--accent);
}

a {
	color: var(--accent);
	text-decoration: none;
	transition: .3s ease;
}

a:hover {
	color: var(--accent-hover);
	transition: .3s ease;
}

.btn-primary {
	background: var(--accent);
	color: #c8d7f7;
	padding: 10px 24px;
	border-radius: 24px;
	font-weight: 500;
	transition: background 0.3s;
}

.btn-primary:hover {
	background: var(--accent-hover);
}

.btn-secondary {
	background: var(--bg-secondary);
	color: var(--text-primary);
	padding: 10px 16px;
	border-radius: 20px;
	font-weight: 500;
	transition: background 0.3s;
}

.btn-secondary:hover {
	background: var(--bg-hover);
}

.container {
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 24px;
}
